<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
     <table>
    <tr>
        <td>
             <img class=fit-picture src="../images/166-1667810_pizza-png-free-vector-download-portable-network-graphics.png">
        </td>
        <td>
     <h2><span class="your-style">PIZZA DELIVERY</span></h2>
        </td>
    </tr>
    </table>

    <ul id="navbar">
      <li><a href="index.html">ᐊ MENU</a></li>
     <li><a href="about.html">ABOUT US</a></li>
    </ul>
</head>


<body>
<table id="supertableab">
    <tr>
       <td>
        <div class="sim-slider">
        <ul class="sim-slider-list">
        <li><img src="http://pvbk.spb.ru/inc/slider/imgs/no-image.gif" alt="screen"></li> <!-- это экран -->
        <li class="sim-slider-element"><img src="../images/0.JPEG" alt="0" height="500"></li>
        <li class="sim-slider-element"><img src="../images/1.jpg" alt="1" height="500"></li>
        <li class="sim-slider-element"><img src="../images/2.jpg" alt="2" height="500"></li>
        <li class="sim-slider-element"><img src="../images/3.jpg" alt="3" height="500"></li>
        </ul>
        <div class="sim-slider-arrow-left"></div>
        <div class="sim-slider-arrow-right"></div>
        <div class="sim-slider-dots"></div>
        <script src="sim-slider.js"></script></div>
       </td>
    </tr>

    <tr>
       <td>
        <div class="kvadrat_about text">The history of pizza: how one of the main symbols of Italy appeared
        <h1 align="left" class="textop">  Pizza originates from the times of ancient times. The first prototype of pizza was the most ordinary flatbread. According to the chronicles, it appeared in Ancient Egypt more than 6 thousand years ago. In those years, pizza was an ordinary piece of dough made of flour, water and yeast. Sometimes eggs were added there, which gave the product a bright taste and aroma.
        <br><br>These cakes were very popular with the soldiers: they cooked them themselves right on the shields, and ate them between battles. The Etruscans prepared them in exactly the same way. A few decades later, this simple recipe migrated to the Ancient Greeks. It is here that pizza has acquired a modern look.
        <br><br>The Greeks improved this dish: they did not just bake a flatbread, but put various vegetables, cheese and even meat on it. All this was abundantly watered with olive oil and baked in large ovens. The resulting dish was called "Plakuntos". It is worth noting that the dough was not just the basis for pizza – it acted as a plate. Therefore, it was convenient to take such a dish with you on the road.
        <br><br>After a while, the flatbread "Plakuntos" migrated to Rome, where the official history of pizza began. The word "Pizza" itself gained popularity in the 10th century, and later it became popular throughout the Appennine Peninsula. However, for some time it was believed that pizza is a dish of peasants and villagers. But why? In fact, everything is simple:
        <br><br>● the pizza was quickly prepared;<br>● you could add anything to it;<br>● it was convenient to take it with you if you went to work in the fields.<br><br>Only a few centuries later, pizza migrated to the tables of noble and royal persons.</h1></div>
       </td>
    </tr>

</table>
</body>

</html>