<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css"/>
     <table>
    <tr>
        <td>
             <img class=fit-picture src="../images/166-1667810_pizza-png-free-vector-download-portable-network-graphics.png">
        </td>
        <td>
     <h2><span class="your-style">PIZZA DELIVERY</span></h2>
        </td>
    </tr>
    </table>

    <ul id="navbar">
      <li><a href="index.html">ᐊ MENU</a></li>
      <li><a href="contacts.html">CONTACTS</a></li>
    </ul>
</head>

<body>
   <div class="kvadrat_contacts text">Contacts
        <h1 class="textop"> People's Boulevard, 2A &#11088 4.77 <br> b-r Narodny, 2a <br>  Delivery and pickup 09:00 — 23:00 <br>  Restaurant 09:00 — 23:00<br>
        <br>May Day, 4.88 &#11088 <br> Pervomaysky ave., 56 <br> Delivery and pickup <br> Mon-Thu: 09: 00-23: 00<br> Fri - Sat: 09: 00-02: 00<br> Sun: 09: 00-23: 00<br> Restaurant<br> 09:00 — 23:00
        <br><br>Soviet Army, 4.83 &#11088 <br> to be. Soviet Army, 11 <br> Delivery and pickup<br>09:00 — 23:00<br>Restaurant<br>09:00 — 23:00
        </h1></div>
</body>
</html>