<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
  <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css"/>
     <table>
    <tr>
        <td>
             <img class=fit-picture src="../static/images/166-1667810_pizza-png-free-vector-download-portable-network-graphics.png">
        </td>
        <td>
     <h2><span class="your-style">PIZZA DELIVERY</span></h2>
        </td>
    </tr>
    </table>

    <ul id="navbar">
        <li><a href="index.html">ᐊ MENU</a></li>
     <li><a href="corzina.html">BASKET</a></li>
    </ul>
</head>

<body>




</body>
</html>