<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pizza House</title>
<!--    <link href="bootstrap.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="style.css" type="text/css"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
<table>
    <tr>
        <td >
             <img class=fit-picture src="../static/images/166-1667810_pizza-png-free-vector-download-portable-network-graphics.png">
        </td>
        <td>
     <h2><span class="your-style">PIZZA DELIVERY</span></h2>
        </td>
    </tr>
</table>

    <ul id="navbar">
    <li><a href="index.html">PIZZAS</a></li>
     <li><a href="contacts.html">CONTACTS</a></li>
     <li><a href="about.html">ABOUT US</a></li>
     <li><a href="corzina.html">BASKET</a></li>
    </ul>

<table>
        <tr>
            <td class="point">
                <img src="../static/images/ClipartKey_2885190.png" alt="" class ="scale">
                <img class=photo1 src="../static/images/53205b4a-4825-41b7-8c96-fa6c95b44051.png" alt="" >
            </td>

            <td class="point">
             <img src="../static/images/pngegg.png"  alt="" class ="scale">
            </td>

             <td class="point">
              <img src="../static/images/kisspng-sushi-pizza-sushi-pizza-tarte-flambe-5b19f4a36e7001.5311493715284276834524.png" alt="" class ="scale" >
            </td>
        </tr>

        <tr>
            <td>
             <div class="kvadrat_pizzas text">Pepperoni
              <h1 class="textop">Spicy pepperoni, an increased portion of<br>mozzarella, tomatoes, tomato sauce.</h1> </div>
            </td>

            <td>
              <div class="kvadrat_pizzas text">Margarita
              <h1 class="textop">Increased portion of mozzarella, tomatoes,<br>Italian herbs, tomato sauce.</h1></div>
            </td>

            <td>
            <div class="kvadrat_pizzas text">Hawaiian
              <h1 class="textop">Ham, pineapples, mozzarella,<br>tomato sauce.</h1></div>
            </td>
        </tr>

        <tr>
           <td>
                 <h6> <a class="shine-button" href="corzina.html">Add to basket &raquo;</a></h6>
                <h6> <a class="shine-button1">from $3.5</a></h6>
            </td>

            <td>
                 <h6> <a class="shine-button" href="corzina.html">Add to basket &raquo;</a></h6>
                <h6> <a class="shine-button1">from $4.6</a></h6>
            </td>

            <td>
                 <h6> <a class="shine-button" href="corzina.html">Add to basket &raquo;</a></h6>
                 <h6> <a class="shine-button1">from $5.9</a></h6>
            </td>
        </tr>

        </div>
    </div>
 </div>
</table>
</body>
</html>