.center {
  margin: auto;
  width: 66%;
}
.fit-picture {
    margin-left: 50px;
    padding: 20px;
    width: 210px;
    height: 210px;
}

body {
    background:url('../images/IMG_2074.jpg');
    background-size: 100%;
}

.your-style {
font-family: 'Sergio Trendy';
font-weight: normal;
font-style: normal;
font-size: 700%;
float:center;
color: #FFFFFF;
}

#navbar {
  font-family: 'Sergio Trendy';
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 20px 5px;
  width: 100%;
  text-align: center;
  background-color: #FF8C00;
}
#navbar li { display: inline; }

#navbar a {
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 350px;
}

#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #FF4500;
}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5)}

.col-lg-4{flex:0 0 auto;width:33.33333333%}.col-lg-5{flex:0 0 auto;width:41.66666667%}

.col-lg-4{flex:0 0 auto;width:33.33333333%}.col-lg-5{flex:0 0 auto;width:41.66666667%}

.btn-btn-secondary-PEP{
margin-left:180px;
}

.photo {
margin: 80px 10px 30px 0;
}

.text {
font-family: 'Sergio Trendy';
font-weight: normal;
font-style: normal;
font-size: 200%;
float:center;
color: #FF4500;
}

.kvadrat_3 {
margin-left:90px;
width: 500px;
height: 110px;
background: white;
color:  #FF4500;
text-align: center;
border-radius: 30px;
}

.kvadrat_3 text{
font-family: 'Sergio Trendy';
font-weight: normal;
font-style: normal;
font-size: 200%;
float:center;
color: #FF4500;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px 4px;
    font-weight: bold;
    display: inline-block;

  }

a:hover {
  border-radius: 40px;
  background-color: #FF4500;
}


.kvadrat_knopka {
margin-left:383px;
width: 208px;
height: 30px;
background: #8B0000;
text-align: center;
border-radius: 20px;
font-size: 11px;
font-weight: normal;
font-style: normal;
float:center;
font-family: 'Bahnschrift';
}

.textop{
font-family: 'Bahnschrift';
font-weight: normal;
font-style: normal;
font-size: 20px;
color: black;
}